<?xml version="1.0"?>
<configuration>	
  	<exceptionless apiKey="0a22fda25ead4f0c9754b5a6356aa5af" enabled="true" enableLogging="true" logPath="c:\OniKira\log.txt" />

  	<runtime>
    	<loadFromRemoteSources enabled="true"/>
  	</runtime>
<startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
</startup>
</configuration>